/* ==========================================================================
    Variables
   ========================================================================== */

$black: black;
$white: white;

$main-bg: white;